---
title: HTML5 Boilerplate Middleman
---
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="select_all_box">
				<div class="checkbox">
				  <label>
				    <span class="select_all_wrapper">
				    	<input type="checkbox" class="select_all" value="">
				    	<div class="not_all_status"></div>
				    </span>
				    Select/Deselect all
				  </label>
				</div>
			</div>
			<div class="animals_box">
				
			</div>
			<div class="add_animal_box">
				<form class="add_animal_form form-inline" action="#" role="form">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputPassword2">Name of animal</label>
				    <input required type="text" class="form-control new_animal" placeholder="Enter name">
				  </div>
				  <button type="submit" class="btn btn-default">Add animal</button>
				</form>
			</div>
		</div>
	</div>
</div>

